.hero {
    background-image: url('../images/teach.jpeg'); 
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Dark overlay */
    z-index: 1;
}

.hero h1,
.hero p,
.hero .buttons {
    position: relative;
    margin-right: 900px;
    z-index: 2; /* Brings text and buttons above the overlay */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 500px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.compare-plans,
.learn-more {
    padding: 15px 30px;
    font-size: 1rem;
    color: #333;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.compare-plans:hover,
.learn-more:hover {
    background-color: #e0e0e0;
}


.buttons button {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons .learn-more {
    background-color: transparent;
    color: #fff;
}