<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cmaan.learn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Cmaan.learn" />
                <span class="logo-text">Learn</span>
            </div>

            <nav class="main-nav">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="dropdown">
                        <a href="{{ url_for('courses') }}" class="dropbtn">All Courses</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('fullstack') }}">Full Stack Development</a>
                            <a href="{{ url_for('backend') }}">Backend Development</a>
                            <a href="{{ url_for('graphics') }}">Graphics Designing</a>
                            <a href="{{ url_for('android') }}">Android Development</a>
                            <a href="{{ url_for('automation') }}">Automation Testing</a>
                            <a href="{{ url_for('ios') }}">IOS Development</a>
                            <a href="{{ url_for('cloud') }}">Cloud Engineer</a>
                            <a href="{{ url_for('sales') }}">Sales & Marketing</a>
                            <a href="{{ url_for('telecalling') }}">Tele-Calling</a>
                            <a href="{{ url_for('hr') }}">HR Courses</a>
                        </div>
                    </li>

                    <li class="search-container">
                        <input type="text" placeholder="What do you want to learn?" class="search-bar">
                        <i class="fas fa-search search-icon"></i>
                    </li>
                    <li><a href="{{ url_for('bussiness') }}">Cmaan Learn Business</a></li>
                    <li><a href="{{ url_for('tutor') }}">Become Tutor</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                </ul>
            </nav>

            <div class="login">
                <a href="{{ url_for('login') }}">
                    <button class="login-btn">Log In</button>
                </a>
            </div>
        </div>
    </header>


    <main>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="{{ url_for('static', filename='images/Graphics Designing Background.png') }}" alt="Slider 1">
              <section class="deal" id="deal">
               
              </section>
            </div>
            <div class="swiper-slide">
              <img src="{{ url_for('static', filename='images/Full Stack Desktop Background.png') }}" alt="Advertisement 2">
              <section class="deal" id="deal">
               
              </section>
            </div>
    
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='images/Cloud Engineering Background.png') }}" alt="Advertisement 3">
                <section class="deal" id="deal">
                 
                </section>
              </div>
            <!-- Add the deal section for the other slides as well -->
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
    
    
    <script>
        var swiper = new Swiper('.swiper', {
          loop: true, // Enable loop mode
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          autoplay: {
            delay: 3000, // Auto play delay
            disableOnInteraction: false,
          },
        });
      </script>
      
    
    </div>
    </main>

    <section class="button-slider">
        <div class="button-container">
            <div class="button-wrapper">
                <a href="{{ url_for('fullstack') }}" class="rect-btn">Full Stack Development</a>
                <a href="{{ url_for('backend') }}" class="rect-btn">Backend Development</a>
                <a href="{{ url_for('graphics') }}" class="rect-btn">Graphics Designing</a>
                <a href="{{ url_for('android') }}" class="rect-btn">Android Development</a>
                <a href="{{ url_for('automation') }}" class="rect-btn">Automation Testing</a>
                <a href="{{ url_for('ios') }}" class="rect-btn">IOS Development</a>
                <a href="{{ url_for('cloud') }}" class="rect-btn">Cloud Engineer</a>
                <a href="{{ url_for('sales') }}" class="rect-btn">Sales & Marketing</a>
                <a href="{{ url_for('telecalling') }}" class="rect-btn">Tele-Calling</a>
                <a href="{{ url_for('hr') }}" class="rect-btn">HR Courses</a>
            </div>
        </div>
    </section>



    <section class="banner-section">
        <div class="banner-content">
            <h1>Stay on top of your professional game</h1>
            <p>Start your skill development journey today.</p>
        </div>
        <div class="banner-button">
            <a href="{{ url_for('courses') }}">
                <button>
                    Explore Programs
                    <i class="fas fa-search"></i>
                </button>
            </a>
        </div>
    </section>



    <section class="coursera-section">
        <div class="content">
            <h1>Invest in your career with Cmaan Learn</h1>
            <p>Get access to videos of all Courses, Specializations, and Professional Certificates taught by top instructors.</p>

            <div class="features">
                <div class="feature">
                    <i class="fas fa-compass fa-3x"></i>
                    <h3>Learn anything</h3>
                    <p>Explore any interest or trending topic, take prerequisites, and advance your skills.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-wallet fa-3x"></i>
                    <h3>Save money</h3>
                    <p>Spend less money on your learning if you plan to take multiple courses this year.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-user-clock fa-3x"></i>
                    <h3>Flexible learning</h3>
                    <p>Learn at your own pace, move between multiple courses, or switch to a different course.</p>
                </div>
                <div class="feature">
                    <i class="fas fa-certificate fa-3x"></i>
                    <h3>Unlimited certificates</h3>
                    <p>Earn a certificate for every learning program that you complete.</p>
                </div>
            </div>
        </div>
    </section>


    <main>
        <section class="video-container">
            <video class="responsive-video" autoplay loop muted>
                <source src="{{ url_for('static', filename='images/GENERAL CMAAN LEARN.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
    </main>

    <div class="section-container">
        <h1>Accelerate growth – for you or your organization</h1>
        <p class="subtitle">Reach goals faster with one of our plans or programs.</p>

        <div class="plan-container">
            <!-- Personal Plan -->
            <div class="plan">
                <div class="plan-header">Personal Plan</div>
                <p class="subtext">For you (Individual)</p>
                <p class="price">Starting at ₹850 per month</p>
                <a href="#" class="button">Start subscription</a>
                <ul class="features">
                    <li>Access to top courses</li>
                    <li>Certification prep</li>
                    <li>Goal-focused recommendations</li>
                    <li>AI-powered coding exercises</li>
                </ul>
            </div>

            <!-- Team Plan -->
            <div class="plan">
                <div class="plan-header">Team Plan</div>
                <p class="subtext">For your team (2 to 20 people)</p>
                <p class="price">₹1,167 a month per user</p>
                <a href="#" class="button">Start subscription</a>
                <ul class="features">
                    <li>Access to top courses</li>
                    <li>Certification prep</li>
                    <li>Goal-focused recommendations</li>
                    <li>Analytics and adoption reports</li>

                </ul>
            </div>

            <!-- Enterprise Plan -->
            <div class="plan">
                <div class="plan-header">Enterprise Plan</div>
                <p class="subtext">For your whole organization (More than 20 people)</p>
                <p class="price">Contact sales for pricing</p>
                <a href="#" class="button">Request a demo</a>
                <ul class="features">
                    <li>Access to top courses</li>
                    <li>Certification prep</li>
                    <li>Goal-focused recommendations</li>
                    <li>Hands-on tech training with add-on</li>

                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/Slider.js"></script>


</body>
</html>