<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <!-- Login and Register Box -->
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Login</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <!-- Initially display the login form and hide the register form -->
            <form id="login" class="input-group" style="display: block;" method="POST" action="{{ url_for('login') }}">
                <input type="hidden" name="action" value="login">
                <input type="email" class="input-field" placeholder="Email" name="email" required>
                <input type="password" class="input-field" placeholder="Password" name="password" required>
                {# <input type="checkbox" class="check-box"><span>Remember Password</span> #}
                <button type="submit" class="submit-btn">Login</button>
            </form>
            <form id="register" class="input-group" style="display: none;" method="POST" action="{{ url_for('login') }}">
                <input type="hidden" name="action" value="register">
                <input type="text" class="input-field" placeholder="Username" name="username" required>
                <input type="email" class="input-field" placeholder="Email" name="email" required>
                <input type="password" class="input-field" placeholder="Password" name="password" required>
               {# <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span> #}
                <button type="submit" class="submit-btn">Register</button>
            </form>
        </div>
    </div>

    <!-- Custom Script -->
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";

            // Show only the register form and hide the login form
            x.style.display = "none";
            y.style.display = "block";
        }

        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0";

            // Show only the login form and hide the register form
            x.style.display = "block";
            y.style.display = "none";
        }
    </script>
</body>
</html>
